{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container-fluid header-fix">
        <form action="{{ path('login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="row">
                    <div class="col-sm-1">
                        <label for="inputEmail" class="sr-onl">username</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="username" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <label for="inputPassword" class="sr-ony">Password</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="password" required>
                    </div>
                </div>
            <div class="row but-fix">
                <div class="col-sm-1">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="col-sm-7">
                    <button class="btn btn-primary" type="submit">login</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

