{% extends 'base.html.twig' %}

{% block body %}
    <div class="container header-fix">
        <div class="row">
            <div class="col-xs-12">
                <h1>Training toevoegen</h1>

                {{ form_start(afdelingForm,{'attr': {'novalidate':'novalidate'}}) }}
                {{ form_widget(afdelingForm) }}

                <button type="submit" class="btn btn-primary">maak training aan</button>

                {{ form_end(afdelingForm) }}

            </div>
        </div>
    </div>
{% endblock %}
