{% extends 'base.html.twig' %}

{% block body %}
    <div class="container header-fix">
        <div class="row">
            <div class="col-xs-12">
                <h1>Training updaten</h1>

                {{ form_start(afdelingForm,{'attr': {'novalidate':'novalidate'}}) }}
                {{ form_widget(afdelingForm,{'value' : 'Default title'}) }}

                <button type="submit" class="btn btn-primary">update training</button>

                {{ form_end(afdelingForm) }}

            </div>
        </div>
    </div>
    s
{% endblock %}
